about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM о компании</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header fixed_mod">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 g_col_s_12 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 g_col_s_12 menu_block">
                <ul class="main_menu">
                  <li class="menu_item"><a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a></li>
                  <li class="menu_item"><a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a></li>
                  <li class="menu_item"><a href="#" class="menu_link"><span class="link_text">Оборудование</span></a></li>
                  <li class="menu_item"><a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a></li>
                  <li class="menu_item"><a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a></li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner clearfix">
            <div class="breadcrumbs_holder">
              <ul class="breadcrumbs">
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Главная </a></li>
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Родительская страница </a></li>
                <li class="breadcrumb_item"><span href="#" class="breadcrumb_link">Текущая страница </span></li>
              </ul>
            </div>
            <div class="hero_block"><img src="i/hero.jpg" class="hero_img">
              <div class="hero_text_holder">
                <div class="hero_text">
                  <div class="hero_caption">Компания<br>сегодня</div>
                </div>
              </div>
            </div>
            <div class="aside_left">
              <div class="aside_menu mob_hidden">
                <ul class="sub_menu">
                  <li class="sub_menu_item"><a href="about.html" class="sub_m_link">Компания сегодня</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">История</a></li>
                  <li class="sub_menu_item"><a href="advantages.html" class="sub_m_link active">Наши преимущества</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Миссия компании</a></li>
                  <li class="sub_menu_item"><a href="partners.html" class="sub_m_link">Партнеры</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Награды и дипломы</a></li>
                  <li class="sub_menu_item"><a href="certificates.html" class="sub_m_link">Лицензии и сертификаты</a></li>
                </ul>
              </div>
            </div>
            <div class="main_content">
              <div class="text_block">
                <p><b class="color_orange">ООО «Современные Технологии Машиностроения» </b>- это современная производственно-технологическая база, высококвалифицированные специалисты, отлаженная система управления качеством, сертифицированная на соответствие требованиям ГОСТ Р ИСО 9001-2008 и ГОСТ РВ 0015-002-2012. Предприятие имеет в своей структуре специализированное конструкторское бюро, оснащенное системами компьютерного проектирования.</p>
                <p>Все это является основой для освоения и выпуска новых, конкурентоспособных, высокотехнологичных, наукоемких видов продукции по замкнутому технологическому циклу.</p>
                <p>Выпускаемая продукция широко востребована от авиакосмической и военной промышленности, нефтегазовой и химических отраслей, энергетики, в том числе атомной, до пищевой отрасли.</p>
                <div class="employee_slider_holder">
                  <div class="slider_wrapper featureSlider">
                    <ul class="employee_list Slider">
                      <li class="employee_unit featureSlide clearfix">
                        <div class="employee_photo"><img src="i/no_photo.png" class="employee_img"></div>
                        <div class="employee_description">
                          <div class="employee_name">Иванов Иван Иванович</div>
                          <div class="employee_post">генеральный директор ООО "Современные Технологии Машиностроения"</div>
                          <div class="employee_overview">генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО </div>
                        </div>
                      </li>
                      <li class="employee_unit featureSlide clearfix">
                        <div class="employee_photo"><img src="i/no_photo.png" class="employee_img"></div>
                        <div class="employee_description">
                          <div class="employee_name">Иванов Иван Иванович</div>
                          <div class="employee_post">генеральный директор ООО "Современные Технологии Машиностроения"</div>
                          <div class="employee_overview">генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО </div>
                        </div>
                      </li>
                      <li class="employee_unit featureSlide clearfix">
                        <div class="employee_photo"><img src="i/no_photo.png" class="employee_img"></div>
                        <div class="employee_description">
                          <div class="employee_name">Иванов Иван Иванович</div>
                          <div class="employee_post">генеральный директор ООО "Современные Технологии Машиностроения"</div>
                          <div class="employee_overview">генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО </div>
                        </div>
                      </li>
                      <li class="employee_unit featureSlide clearfix">
                        <div class="employee_photo"><img src="i/no_photo.png" class="employee_img"></div>
                        <div class="employee_description">
                          <div class="employee_name">Иванов Иван Иванович</div>
                          <div class="employee_post">генеральный директор ООО "Современные Технологии Машиностроения"</div>
                          <div class="employee_overview">генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО </div>
                        </div>
                      </li>
                    </ul>
                    <ul class="employee_bullets featureSliderControls">
                      <li class="employee_bullet_item"><a href="#" data-slide='0' class="employee_bullet featureDot"></a></li>
                      <li class="employee_bullet_item"><a href="#" data-slide='1' class="employee_bullet featureDot"></a></li>
                      <li class="employee_bullet_item"><a href="#" data-slide='2' class="employee_bullet featureDot"></a></li>
                      <li class="employee_bullet_item"><a href="#" data-slide='3' class="employee_bullet featureDot"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <ul class="stat_list">
                <li class="stat_unit">
                  <div class="stat_block">
                    <div class="stat_counter">
                      <div class="stat_counter_box">
                        <div class="stat_val">140</div>
                        <div class="stat_text">человек</div>
                      </div>
                      <div class="stat_icon"><img src="i/people.png" class="stat_img"></div>
                      <div class="stat_icon_tip">ЧИСЛЕННОСТЬ СОТРУДНИКОВ</div>
                    </div>
                    <div class="stat_graph_holder mob_hidden">
                      <div class="stat_graph_caption">Численность сотрудников по годам</div>
                      <div class="stat_graph"><img src="i/trends.png" class="stat_graph_img"></div>
                    </div>
                  </div>
                </li>
                <li class="stat_unit">
                  <div class="stat_block">
                    <div class="stat_counter">
                      <div class="stat_counter_box">
                        <div class="stat_val">21</div>
                        <div class="stat_text">штука</div>
                      </div>
                      <div class="stat_icon"><img src="i/center.png" class="stat_img"></div>
                      <div class="stat_icon_tip">КОЛИЧЕСТВО ОБРАБАТЫВАЮЩИХ ЦЕНТРОВ</div>
                    </div>
                    <div class="stat_graph_holder mob_hidden">
                      <div class="stat_graph_caption">Количестов обрабатывающих центров по годам</div>
                      <div class="stat_graph"><img src="i/trends_2.png" class="stat_graph_img"></div>
                    </div>
                  </div>
                </li>
                <li class="stat_unit">
                  <div class="stat_block">
                    <div class="stat_counter">
                      <div class="stat_counter_box">
                        <div class="stat_val">4440</div>
                        <div class="stat_text">кв. метров</div>
                      </div>
                      <div class="stat_icon"><img src="i/house.png" class="stat_img"></div>
                      <div class="stat_icon_tip">ПРОИЗВОДСТВЕННЫЕ ПЛОЩАДИ</div>
                    </div>
                    <div class="stat_graph_holder mob_hidden">
                      <div class="stat_graph_caption">Производственные площади по годам</div>
                      <div class="stat_graph"><img src="i/trends_3.png" class="stat_graph_img"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/about.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM о компании')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='Компания<br>сегодня'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							.text_block
								p
									b.color_orange ООО «Современные Технологии Машиностроения» 
									| - это современная производственно-технологическая база, высококвалифицированные специалисты, отлаженная система управления качеством, сертифицированная на соответствие требованиям ГОСТ Р ИСО 9001-2008 и ГОСТ РВ 0015-002-2012. Предприятие имеет в своей структуре специализированное конструкторское бюро, оснащенное системами компьютерного проектирования.
								p Все это является основой для освоения и выпуска новых, конкурентоспособных, высокотехнологичных, наукоемких видов продукции по замкнутому технологическому циклу.
								p Выпускаемая продукция широко востребована от авиакосмической и военной промышленности, нефтегазовой и химических отраслей, энергетики, в том числе атомной, до пищевой отрасли.

								.employee_slider_holder
									.slider_wrapper.featureSlider
										ul.employee_list.Slider
											+loop_while(4)
												li.employee_unit.featureSlide.clearfix
													.employee_photo
														img.employee_img(src='i/no_photo.png')
													.employee_description
														.employee_name Иванов Иван Иванович
														.employee_post генеральный директор ООО "Современные Технологии Машиностроения"
														.employee_overview генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО 
										ul.employee_bullets.featureSliderControls
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=0)
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=1)
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=2)
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=3)
								
							ul.stat_list
								li.stat_unit
									.stat_block
										.stat_counter
											.stat_counter_box
												.stat_val 140
												.stat_text человек
											.stat_icon
												img.stat_img(src='i/people.png')
											.stat_icon_tip ЧИСЛЕННОСТЬ СОТРУДНИКОВ
										.stat_graph_holder.mob_hidden
											.stat_graph_caption Численность сотрудников по годам
											.stat_graph
												img.stat_graph_img(src='i/trends.png')
								li.stat_unit
									.stat_block
										.stat_counter
											.stat_counter_box
												.stat_val 21
												.stat_text штука
											.stat_icon
												img.stat_img(src='i/center.png')
											.stat_icon_tip КОЛИЧЕСТВО ОБРАБАТЫВАЮЩИХ ЦЕНТРОВ
										.stat_graph_holder.mob_hidden
											.stat_graph_caption Количестов обрабатывающих центров по годам
											.stat_graph
												img.stat_graph_img(src='i/trends.png')
								li.stat_unit
									.stat_block
										.stat_counter
											.stat_counter_box
												.stat_val 4440
												.stat_text кв. метров
											.stat_icon
												img.stat_img(src='i/house.png')
											.stat_icon_tip ПРОИЗВОДСТВЕННЫЕ ПЛОЩАДИ
										.stat_graph_holder.mob_hidden
											.stat_graph_caption Производственные площади по годам
											.stat_graph
												img.stat_graph_img(src='i/trends.png')
											
			+footer()
