article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM публикация</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header fixed_mod">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 g_col_s_12 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 g_col_s_12 menu_block">
                <ul class="main_menu">
                  <li class="menu_item"><a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a></li>
                  <li class="menu_item"><a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a></li>
                  <li class="menu_item"><a href="#" class="menu_link"><span class="link_text">Оборудование</span></a></li>
                  <li class="menu_item"><a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a></li>
                  <li class="menu_item"><a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a></li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner clearfix">
            <div class="breadcrumbs_holder wide_mod full_w_mod">
              <ul class="breadcrumbs">
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Главная </a></li>
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Родительская страница </a></li>
                <li class="breadcrumb_item"><span href="#" class="breadcrumb_link">Текущая страница </span></li>
              </ul>
            </div>
            <div class="main_content">
              <div class="article_title">Заголовок публикации</div>
              <div class="article_date_v2">25.05.2015</div>
              <div class="text_block">
                <div class="img_fl_l"><img src="i/article_2.jpg"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.</p>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus porttitor mi mauris, at rutrum mi ornare vel. <a href="#" class="color_orange">Vestibulum</a> condimentum euismod ex porttitor tristique. Nunc quis purus at ligula sodales posuere vitae eu diam. Integer finibus rhoncus metus in iaculis. Pellentesque vehicula sed est finibus pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum est dui, eget imperdiet lacus faucibus ac. Nulla a neque turpis. Nulla luctus nulla vitae magna iaculis tincidunt. Ut vehicula interdum nisl quis auctor. Nullam ut pretium justo, sed mattis orci. Etiam viverra blandit est, nec rhoncus lectus varius at.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum.  Sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <ul>
                  <li>Комплексный подход к обеспечению опытно-конструкторских работ и потребностей производства Заказчика</li>
                  <li>Опытный, профессиональный и амбициозный коллектив</li>
                  <li>Современное высокоточное оборудование от ведущих мировых производителей</li>
                  <li>Многоуровневая система контроля качества на всех этапах производства</li>
                  <li>Сертификаты системы менеджмента качества по ГОСТ Р ИСО 9001-2011 и «Военный Регистр» ГОСТ РВ 0015-002-2012</li>
                </ul>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus porttitor mi mauris, at rutrum mi ornare vel. Vestibulum condimentum euismod ex porttitor tristique. Nunc quis purus at ligula sodales posuere vitae eu diam. Integer finibus rhoncus metus in iaculis. Pellentesque vehicula sed est finibus pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum est dui, eget imperdiet lacus faucibus ac. Nulla a neque turpis. Nulla luctus nulla vitae magna iaculis tincidunt. Ut vehicula interdum nisl quis auctor. Nullam ut pretium justo, sed mattis orci. Etiam viverra blandit est, nec rhoncus lectus varius at.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/article.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM публикация')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder.wide_mod.full_w_mod
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.main_content
							.article_title Заголовок публикации
							.article_date_v2 25.05.2015
							.text_block
								.img_fl_l: img(src='i/article_2.jpg')

								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.

								h3 Lorem ipsum dolor sit amet

								p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus porttitor mi mauris, at rutrum mi ornare vel. 
									a.color_orange(href='#') Vestibulum
									|  condimentum euismod ex porttitor tristique. Nunc quis purus at ligula sodales posuere vitae eu diam. Integer finibus rhoncus metus in iaculis. Pellentesque vehicula sed est finibus pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum est dui, eget imperdiet lacus faucibus ac. Nulla a neque turpis. Nulla luctus nulla vitae magna iaculis tincidunt. Ut vehicula interdum nisl quis auctor. Nullam ut pretium justo, sed mattis orci. Etiam viverra blandit est, nec rhoncus lectus varius at.

								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum.  Sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum.

								p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								
								ul
									li Комплексный подход к обеспечению опытно-конструкторских работ и потребностей производства Заказчика
									li Опытный, профессиональный и амбициозный коллектив
									li Современное высокоточное оборудование от ведущих мировых производителей
									li Многоуровневая система контроля качества на всех этапах производства
									li Сертификаты системы менеджмента качества по ГОСТ Р ИСО 9001-2011 и «Военный Регистр» ГОСТ РВ 0015-002-2012

								p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus porttitor mi mauris, at rutrum mi ornare vel. Vestibulum condimentum euismod ex porttitor tristique. Nunc quis purus at ligula sodales posuere vitae eu diam. Integer finibus rhoncus metus in iaculis. Pellentesque vehicula sed est finibus pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum est dui, eget imperdiet lacus faucibus ac. Nulla a neque turpis. Nulla luctus nulla vitae magna iaculis tincidunt. Ut vehicula interdum nisl quis auctor. Nullam ut pretium justo, sed mattis orci. Etiam viverra blandit est, nec rhoncus lectus varius at.

			+footer()
