index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM главная 1</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header stickable">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 menu_block">
                <ul class="main_menu">
                  <li class="menu_item">
                    <a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a>
                    <ul class="sub_menu">
                      <li><span class="active">Sub menu item 1</span></li>
                      <li><a href="">Sub menu item 2</a></li>
                      <li><a href="">Sub menu item 3</a></li>
                      <li><a href="">Sub menu item 4</a></li>
                    </ul>
                  </li>
                  <li class="menu_item">
                    <a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a>
                  </li>
                  <li class="menu_item">
                    <a href="#" class="menu_link"><span class="link_text">Оборудование</span></a>
                  </li>
                  <li class="menu_item">
                    <a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a>
                  </li>
                  <li class="menu_item">
                    <a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a>
                  </li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="slider_wrapper ctmSlider">
            <ul class="slider">
              <li class="slide">
                <div class="slide_inner"><img src="i/banner_2.jpg" class="slide_img"></div>
              </li>
              <li class="slide">
                <div class="slide_inner"><img src="i/banner_3.jpg" class="slide_img"></div>
              </li>
              <li class="slide">
                <div class="slide_inner"><img src="i/banner_4.jpg" class="slide_img"></div>
              </li>
            </ul>
            <div class="main_slider_controls">
              <div class="section_inner">
                <div class="g_row">
                  <div class="g_col_l_1 g_col_s_1 text_left"><a href="#" class="slider_btn slider_prev"></a></div>
                  <div class="g_col_l_10 g_col_s_10">
                    <div class="slider_wrapper">
                      <ul class="slider_bullets">
                        <li class="slider_bullet_item"><a href="#" data-slide='0' class="slider_bullet">КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД</a></li>
                        <li class="slider_bullet_item"><a href="#" data-slide='1' class="slider_bullet">СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ</a></li>
                        <li class="slider_bullet_item"><a href="#" data-slide='2' class="slider_bullet">ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО</a></li>
                        <li class="slider_bullet_item"><a href="#" data-slide='3' class="slider_bullet">ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА</a></li>
                        <li class="slider_bullet_item"><a href="#" data-slide='4' class="slider_bullet">ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="g_col_l_1 g_col_s_1 text_right"><a href="#" class="slider_btn slider_next"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner">
            <div class="g_row">
              <div class="slider_wrapper featureSlider">
                <div class="feature_slider Slider">
                  <ul class="feature_list g_col_l_6 featureSlide">
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_1.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">ФРЕЗЕРНАЯ ОБРАБОТКА</span></div></a></li>
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_2.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">ТОКАРНАЯ ОБРАБОТКА</span></div></a></li>
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_3.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">ЛИСТОВАЯ ОБРАБОТКА</span></div></a></li>
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_4.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС</span></div></a></li>
                  </ul>
                  <ul class="feature_list g_col_l_6 featureSlide">
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_5.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">ПОКРЫТИЯ</span></div></a></li>
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_6.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">МЕХАНО-СБОРОЧНЫЕ РАБОТЫ</span></div></a></li>
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_7.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ</span></div></a></li>
                    <li class="feature_item"><a href="category.html" class="feature_box">
                        <div class="feature_img_w"><img src="i/feature_8.jpg" class="feature_img"></div>
                        <div class="feature_description"><span class="middle_block">ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА</span></div></a></li>
                  </ul>
                </div>
              </div>
              <div class="feature_slider_controls"><a href="#" class="feature_control prev_feature prevFeature"></a><a href="#" class="feature_control next_feature nextFeature"></a></div>
              <div class="feature_slider_controls text_center featureSliderControls"><a href="#" data-slide='0' class="feature_dot featureDot"></a><a href="#" data-slide='1' class="feature_dot featureDot"></a>
                <!--a.feature_dot(href='#', data-slide=1)-->
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner">
            <div class="work_approach mob_only">
              <div class="approach_right">
                <div class="approach_text approach_text_1">ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН</div><img src="i/add_banner_1.jpg" class="approach_img">
                <div class="approach_controls"><a href="#" class="approach_btn approach_left_btn">ИННОВАТОРАМ</a><a href="#" class="approach_btn approach_right_btn">СОТРУДНИКАМ</a></div>
              </div>
            </div>
            <div class="work_approach workApproach mob_hidden">
              <div class="approach_splitbar approachSplitbar"></div>
              <div class="approach_left approachLeft">
                <a href="#1">
                    <div class="approach_text approach_text_1">ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН</div><img src="i/add_banner_1.jpg" class="approach_img">
                    <div class="approach_description">
                      <div class="approach_caption">ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ</div>
                      <div class="approach_info">Отличная команда профессионалов!<br>Большое количество вакансий!<br>Высокая оплата труда!</div>
                    </div><a href="#" class="approach_btn approach_left_btn approachRightBtn">ИННОВАТОРАМ</a>
                </a>
              </div>
              <div class="approach_right approachRight">
                <a href="#2">
                    <div class="approach_text approach_text_2">ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН</div><img src="i/add_banner_2.jpg" class="approach_img">
                    <div class="approach_description">
                      <div class="approach_caption">ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ</div>
                      <div class="approach_info">Отличная команда профессионалов!<br>Большое количество вакансий!<br>Высокая оплата труда!</div>
                    </div><a href="#" class="approach_btn approach_right_btn approachLeftBtn">СОТРУДНИКАМ</a>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner">
            <div class="news_block">
              <div class="g_row">
                <div class="g_col_l_12 text_center">
                  <h2 class="news_title">НОВОСТИ</h2>
                </div>
                <div class="g_col_l_4 g_col_s_12">
                  <div class="news_unit"><a href="#" class="news_img_w"><img src="i/news_1.jpg" class="news_img"/></a>
                    <div class="news_description"><a href="#" class="news_link">ООО "СТМ" ПОДТВЕРДИЛО СООТВЕТСТВИЕ ИСО 9001-2011</a>
                      <div class="news_preview">В результате инспекционного контроля системы менеджмента качества ООО "СТМ" было получено подтверждение  соответствия действующей СМК требованиям ГОСТ ISO 9001-2011....</div>
                    </div>
                  </div>
                </div>
                <div class="g_col_l_4 g_col_s_12">
                  <div class="news_unit"><a href="#" class="news_img_w"><img src="i/news_1.jpg" class="news_img"/></a>
                    <div class="news_description"><a href="#" class="news_link">ООО "СТМ" ПОДТВЕРДИЛО СООТВЕТСТВИЕ ИСО 9001-2011</a>
                      <div class="news_preview">В результате инспекционного контроля системы менеджмента качества ООО "СТМ" было получено подтверждение  соответствия действующей СМК требованиям ГОСТ ISO 9001-2011....</div>
                    </div>
                  </div>
                </div>
                <div class="g_col_l_4 g_col_s_12">
                  <div class="news_unit"><a href="#" class="news_img_w"><img src="i/news_1.jpg" class="news_img"/></a>
                    <div class="news_description"><a href="#" class="news_link">ООО "СТМ" ПОДТВЕРДИЛО СООТВЕТСТВИЕ ИСО 9001-2011</a>
                      <div class="news_preview">В результате инспекционного контроля системы менеджмента качества ООО "СТМ" было получено подтверждение  соответствия действующей СМК требованиям ГОСТ ISO 9001-2011....</div>
                    </div>
                  </div>
                </div>
                <div class="g_col_l_12 text_center"><a href="#" class="btn_v3 more_btn yellow_btn_v2">Все новости</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/index.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM главная 1', false, true)

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.stickable
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.slider_wrapper.ctmSlider
						ul.slider
							+loop_while(5)
								li.slide
									.slide_inner
										img.slide_img(src='i/banner_1.jpg')
										.slide_content
											.section_inner
												.slide_info_panel
													.slide_info_box СОВРЕМЕННАЯ
													.slide_info_box ПРОИЗВОДСТВЕННО-ТЕХНОЛОГИЧЕСКАЯ
													.slide_info_box БАЗА

						.main_slider_controls
							.section_inner
								.g_row
									.g_col_l_1.g_col_s_1.text_left
										a.slider_btn.slider_prev(href='#')
									.g_col_l_10.g_col_s_10
										.slider_wrapper
											ul.slider_bullets
												each val, index in bullet_arr
													li.slider_bullet_item: a.slider_bullet(href='#', data-slide=index)!=val

									.g_col_l_1.g_col_s_1.text_right
										a.slider_btn.slider_next(href='#')

				.section
					.section_inner
						.g_row
							.slider_wrapper.featureSlider
								.feature_slider.Slider
									ul.feature_list.g_col_l_6.featureSlide
										each val, index in feature_arr
											li.feature_item
												a.feature_box(href='category.html')
													.feature_img_w
														img.feature_img(src='i/feature_' + (index + 1) + '.jpg')
													.feature_description
														span.middle_block!=val
									ul.feature_list.g_col_l_6.featureSlide
										each val, index in feature_arr_2
											li.feature_item
												a.feature_box(href='category.html')
													.feature_img_w
														img.feature_img(src='i/feature_' + (index + 5) + '.jpg')
													.feature_description
														span.middle_block!=val
											
							.feature_slider_controls
								a.feature_control.prev_feature.prevFeature(href='#')
								a.feature_control.next_feature.nextFeature(href='#')
								
							.feature_slider_controls.text_center.featureSliderControls
								a.feature_dot.featureDot(href='#', data-slide=0)
								a.feature_dot.featureDot(href='#', data-slide=1)
								//a.feature_dot(href='#', data-slide=1)
								
				.section
					.section_inner
						.work_approach.mob_only
							.approach_right
									.approach_text.approach_text_1 ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН
									img.approach_img(src='i/add_banner_1.jpg')
									.approach_controls
										a.approach_btn.approach_left_btn(href='#') ИННОВАТОРАМ
										a.approach_btn.approach_right_btn(href='#') СОТРУДНИКАМ

						.work_approach.workApproach.mob_hidden
							.approach_splitbar.approachSplitbar
							.approach_left.approachLeft
								.approach_text.approach_text_1 ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН
								img.approach_img(src='i/add_banner_1.jpg')
								.approach_description
									.approach_caption ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ
									.approach_info Отличная команда профессионалов!<br>Большое количество вакансий!<br>Высокая оплата труда!
									
								a.approach_btn.approach_left_btn.approachRightBtn(href='#') ИННОВАТОРАМ
							.approach_right.approachRight
								.approach_text.approach_text_2 ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН
								img.approach_img(src='i/add_banner_2.jpg')
								.approach_description
									.approach_caption ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ
									.approach_info Отличная команда профессионалов!<br>Большое количество вакансий!<br>Высокая оплата труда!
								a.approach_btn.approach_right_btn.approachLeftBtn(href='#') СОТРУДНИКАМ

				.section
					.section_inner
						.news_block
							.g_row
								.g_col_l_12.text_center
									h2.news_title НОВОСТИ
								+loop_while(3)
									.g_col_l_4.g_col_s_12
										+news_unit()
								.g_col_l_12.text_center
									a.btn_v3.more_btn.yellow_btn_v2(href='#') Все новости

			+footer()
