jade/innovators.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM для инноваторов')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='ИНФОРМАЦИЯ<br>ДЛЯ ИННОВАТОРОВ'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content.form_holder
							.form_right.form_cell_v1
								form(action='#')
									.form_caption Форма обратной связи
									.form_tip Поля, отмеченные *, обязательны для заполнения. 
										span.mob_hidden <br>
										| Пожалуйста, заполните форму, чтобы отправить сообщение.
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_name') ФИО*
											.g_col_l_8.g_col_s_12: .f_el: input#callback_name.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_email') Email*
											.g_col_l_8.g_col_s_12: .f_el: input#callback_email.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_phone') Телефон*
											.g_col_l_8.g_col_s_12: .f_el: input#callback_phone.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_comment') Комментарий*
											.g_col_l_8.g_col_s_12: .f_el: textarea#callback_comment.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_file') Файл
											.g_col_l_8.g_col_s_12: .f_el
												input#callback_file.form_input.form_input_v3.input_hidden(type='file')
												.form_input.form_input_v3
													label.btn_v5.file_upload_btn.gray_btn(for='callback_file') Загрузить
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12.mob_hidden: .f_el &nbsp;
											.g_col_l_8.g_col_s_12.mob_indent_10: .f_el
												label.check_emul.check_v1
													input.input_hidden(type='checkbox')
													span.check_text Я согласен на обработку моих персональных данных
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12.mob_hidden: .f_el &nbsp;
											.g_col_l_8.g_col_s_12.mob_indent_10: .f_el: button.btn_v4.yellow_btn.callback_btn Отправить

							.text_block
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.
								p.mob_hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur,
								p.mob_hidden Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.


			+footer()

innovators.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM для инноваторов</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header fixed_mod">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 g_col_s_12 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 g_col_s_12 menu_block">
                <ul class="main_menu">
                  <li class="menu_item"><a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a></li>
                  <li class="menu_item"><a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a></li>
                  <li class="menu_item"><a href="#" class="menu_link"><span class="link_text">Оборудование</span></a></li>
                  <li class="menu_item"><a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a></li>
                  <li class="menu_item"><a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a></li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner clearfix">
            <div class="breadcrumbs_holder">
              <ul class="breadcrumbs">
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Главная </a></li>
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Родительская страница </a></li>
                <li class="breadcrumb_item"><span href="#" class="breadcrumb_link">Текущая страница </span></li>
              </ul>
            </div>
            <div class="hero_block"><img src="i/hero.jpg" class="hero_img">
              <div class="hero_text_holder">
                <div class="hero_text">
                  <div class="hero_caption">ИНФОРМАЦИЯ<br>ДЛЯ ИННОВАТОРОВ</div>
                </div>
              </div>
            </div>
            <div class="aside_left">
              <div class="aside_menu mob_hidden">
                <ul class="sub_menu">
                  <li class="sub_menu_item"><a href="about.html" class="sub_m_link">Компания сегодня</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">История</a></li>
                  <li class="sub_menu_item"><a href="advantages.html" class="sub_m_link active">Наши преимущества</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Миссия компании</a></li>
                  <li class="sub_menu_item"><a href="partners.html" class="sub_m_link">Партнеры</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Награды и дипломы</a></li>
                  <li class="sub_menu_item"><a href="certificates.html" class="sub_m_link">Лицензии и сертификаты</a></li>
                </ul>
              </div>
            </div>
            <div class="main_content form_holder">
              <div class="form_right form_cell_v1">
                <form action="#">
                  <div class="form_caption">Форма обратной связи</div>
                  <div class="form_tip">Поля, отмеченные *, обязательны для заполнения. <span class="mob_hidden"><br></span>Пожалуйста, заполните форму, чтобы отправить сообщение.</div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12">
                        <div class="f_el">
                          <label for="callback_name" class="form_label form_label_v1">ФИО*</label>
                        </div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12">
                        <div class="f_el">
                          <input id="callback_name" class="form_input form_input_v3">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12">
                        <div class="f_el">
                          <label for="callback_email" class="form_label form_label_v1">Email*</label>
                        </div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12">
                        <div class="f_el">
                          <input id="callback_email" class="form_input form_input_v3">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12">
                        <div class="f_el">
                          <label for="callback_phone" class="form_label form_label_v1">Телефон*</label>
                        </div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12">
                        <div class="f_el">
                          <input id="callback_phone" class="form_input form_input_v3">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12">
                        <div class="f_el">
                          <label for="callback_comment" class="form_label form_label_v1">Комментарий*</label>
                        </div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12">
                        <div class="f_el">
                          <textarea id="callback_comment" class="form_input form_input_v3"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12">
                        <div class="f_el">
                          <label for="callback_file" class="form_label form_label_v1">Файл</label>
                        </div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12">
                        <div class="f_el">
                          <input id="callback_file" type="file" class="form_input form_input_v3 input_hidden">
                          <div class="form_input form_input_v3">
                            <label for="callback_file" class="btn_v5 file_upload_btn gray_btn">Загрузить</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12 mob_hidden">
                        <div class="f_el">&nbsp;</div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12 mob_indent_10">
                        <div class="f_el">
                          <label class="check_emul check_v1">
                            <input type="checkbox" class="input_hidden"><span class="check_text">Я согласен на обработку моих персональных данных</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form_cell">
                    <div class="g_row">
                      <div class="g_col_l_4 g_col_s_12 mob_hidden">
                        <div class="f_el">&nbsp;</div>
                      </div>
                      <div class="g_col_l_8 g_col_s_12 mob_indent_10">
                        <div class="f_el">
                          <button class="btn_v4 yellow_btn callback_btn">Отправить</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="text_block">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.</p>
                <p class="mob_hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur,</p>
                <p class="mob_hidden">Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.</p>
                  <table width="100%" align="center" cellpadding="2" class="table">
                      <tbody>
                      <tr>
                          <th>
                              <b class="color_orange">Год</b>
                          </th>
                          <th>
                              <b class="color_orange">2014</b>
                          </th>
                          <th>
                              <b class="color_orange">2015</b>
                          </th>
                          <th>
                              <b class="color_orange">2016</b>
                          </th>
                          <th>
                              <b class="color_orange">2017</b>
                          </th>
                          <th>
                              <b class="color_orange">2018</b>
                          </th>
                      </tr>
                      <tr>
                          <td align="left" style="text-align: center;">
                              Тип площадей
                          </td>
                          <td align="center" style="text-align: center;">
                              П
                          </td>
                          <td align="center" style="text-align: center;">
                              П
                          </td>
                          <td align="center" style="text-align: center;">
                              П
                          </td>
                          <td align="center" style="text-align: center;">
                              П
                          </td>
                          <td align="center" style="text-align: center;">
                              А
                          </td>
                      </tr>
                      <tr>
                          <td align="left" style="text-align: center;">
                              Площадь, кв. м
                          </td>
                          <td align="center" style="text-align: center;">
                              1 440
                          </td>
                          <td align="center" style="text-align: center;">
                              2 880
                          </td>
                          <td align="center" style="text-align: center;">
                              5 760
                          </td>
                          <td align="center" style="text-align: center;">
                              4 320
                          </td>
                          <td align="center" style="text-align: center;">
                              10 880
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
