jade/press.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM пресс-центр')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='пресс-центр'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							ul.article_list
								+loop_while(4)
									li.article_unit
										.article_photo
											img.article_img(src='i/article_1.jpg')
										.article_text
											a.more_info(href='#') подробнее...
											.article_caption_holder
												a.article_caption(href='#') ЗАГОЛОВОК ПУБЛИКАЦИИ
												span.article_date 25.10.2015
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida eu risus et malesuada. Nullam egestas lacus ut sapien fermentum, eget convallis justo consequat. Sed luctus massa sed dolor mattis feugiat. Quisque semper, risus sed eleifend lobortis, metus purus consectetur orci, a luctus velit metus ac arcu. Nunc porttitor at enim quis accumsan. Fusce euismod sapien libero, a hendrerit nisi volutpat at.

							ul.pagination_list
								li.pagination_item: a.pagination_link.pagination_prev(href='#')
								li.pagination_item: a.pagination_link.active(href='#') 1
								li.pagination_item: a.pagination_link(href='#') 2
								li.pagination_item: a.pagination_link(href='#') 3
								li.pagination_item: a.pagination_link(href='#') 4
								li.pagination_item: a.pagination_link.pagination_next(href='#')
											
			+footer()

press.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM пресс-центр</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header fixed_mod">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 g_col_s_12 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 g_col_s_12 menu_block">
                <ul class="main_menu">
                  <li class="menu_item"><a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a></li>
                  <li class="menu_item"><a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a></li>
                  <li class="menu_item"><a href="#" class="menu_link"><span class="link_text">Оборудование</span></a></li>
                  <li class="menu_item"><a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a></li>
                  <li class="menu_item"><a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a></li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner clearfix">
            <div class="breadcrumbs_holder">
              <ul class="breadcrumbs">
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Главная </a></li>
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Родительская страница </a></li>
                <li class="breadcrumb_item"><span href="#" class="breadcrumb_link">Текущая страница </span></li>
              </ul>
            </div>
            <div class="hero_block"><img src="i/hero.jpg" class="hero_img">
              <div class="hero_text_holder">
                <div class="hero_text">
                  <div class="hero_caption">пресс-центр</div>
                </div>
              </div>
            </div>
            <div class="aside_left">
              <div class="aside_menu mob_hidden">
                <ul class="sub_menu">
                  <li class="sub_menu_item"><a href="about.html" class="sub_m_link">Компания сегодня</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">История</a></li>
                  <li class="sub_menu_item"><a href="advantages.html" class="sub_m_link active">Наши преимущества</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Миссия компании</a></li>
                  <li class="sub_menu_item"><a href="partners.html" class="sub_m_link">Партнеры</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Награды и дипломы</a></li>
                  <li class="sub_menu_item"><a href="certificates.html" class="sub_m_link">Лицензии и сертификаты</a></li>
                </ul>
              </div>
            </div>
            <div class="main_content">
              <ul class="article_list">
                <li class="article_unit">
                  <div class="article_photo"><img src="i/article_1.jpg" class="article_img"></div>
                  <div class="article_text"><a href="#" class="more_info">подробнее...</a>
                    <div class="article_caption_holder"><a href="#" class="article_caption">ЗАГОЛОВОК ПУБЛИКАЦИИ</a><span class="article_date">25.10.2015</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida eu risus et malesuada. Nullam egestas lacus ut sapien fermentum, eget convallis justo consequat. Sed luctus massa sed dolor mattis feugiat. Quisque semper, risus sed eleifend lobortis, metus purus consectetur orci, a luctus velit metus ac arcu. Nunc porttitor at enim quis accumsan. Fusce euismod sapien libero, a hendrerit nisi volutpat at.</p>
                  </div>
                </li>
                <li class="article_unit">
                  <div class="article_photo"><img src="i/article_1.jpg" class="article_img"></div>
                  <div class="article_text"><a href="#" class="more_info">подробнее...</a>
                    <div class="article_caption_holder"><a href="#" class="article_caption">ЗАГОЛОВОК ПУБЛИКАЦИИ</a><span class="article_date">25.10.2015</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida eu risus et malesuada. Nullam egestas lacus ut sapien fermentum, eget convallis justo consequat. Sed luctus massa sed dolor mattis feugiat. Quisque semper, risus sed eleifend lobortis, metus purus consectetur orci, a luctus velit metus ac arcu. Nunc porttitor at enim quis accumsan. Fusce euismod sapien libero, a hendrerit nisi volutpat at.</p>
                  </div>
                </li>
                <li class="article_unit">
                  <div class="article_photo"><img src="i/article_1.jpg" class="article_img"></div>
                  <div class="article_text"><a href="#" class="more_info">подробнее...</a>
                    <div class="article_caption_holder"><a href="#" class="article_caption">ЗАГОЛОВОК ПУБЛИКАЦИИ</a><span class="article_date">25.10.2015</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida eu risus et malesuada. Nullam egestas lacus ut sapien fermentum, eget convallis justo consequat. Sed luctus massa sed dolor mattis feugiat. Quisque semper, risus sed eleifend lobortis, metus purus consectetur orci, a luctus velit metus ac arcu. Nunc porttitor at enim quis accumsan. Fusce euismod sapien libero, a hendrerit nisi volutpat at.</p>
                  </div>
                </li>
                <li class="article_unit">
                  <div class="article_photo"><img src="i/article_1.jpg" class="article_img"></div>
                  <div class="article_text"><a href="#" class="more_info">подробнее...</a>
                    <div class="article_caption_holder"><a href="#" class="article_caption">ЗАГОЛОВОК ПУБЛИКАЦИИ</a><span class="article_date">25.10.2015</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida eu risus et malesuada. Nullam egestas lacus ut sapien fermentum, eget convallis justo consequat. Sed luctus massa sed dolor mattis feugiat. Quisque semper, risus sed eleifend lobortis, metus purus consectetur orci, a luctus velit metus ac arcu. Nunc porttitor at enim quis accumsan. Fusce euismod sapien libero, a hendrerit nisi volutpat at.</p>
                  </div>
                </li>
              </ul>
              <ul class="pagination_list">
                <li class="pagination_item"><a href="#" class="pagination_link pagination_prev"></a></li>
                <li class="pagination_item"><a href="#" class="pagination_link active">1</a></li>
                <li class="pagination_item"><a href="#" class="pagination_link">2</a></li>
                <li class="pagination_item"><a href="#" class="pagination_link">3</a></li>
                <li class="pagination_item"><a href="#" class="pagination_link">4</a></li>
                <li class="pagination_item"><a href="#" class="pagination_link pagination_next"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
