products.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM продукция</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header fixed_mod">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 g_col_s_12 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 g_col_s_12 menu_block">
                <ul class="main_menu">
                  <li class="menu_item"><a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a></li>
                  <li class="menu_item"><a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a></li>
                  <li class="menu_item"><a href="#" class="menu_link"><span class="link_text">Оборудование</span></a></li>
                  <li class="menu_item"><a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a></li>
                  <li class="menu_item"><a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a></li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner clearfix">
            <div class="breadcrumbs_holder wide_mod full_w_mod">
              <ul class="breadcrumbs">
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Главная </a></li>
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Родительская страница </a></li>
                <li class="breadcrumb_item"><span href="#" class="breadcrumb_link">Текущая страница </span></li>
              </ul>
            </div>
            <div class="main_content">
              <div class="article_title">Продукция</div>
              <div class="g_row">
                <div class="slider_wrapper featureSlider">
                  <div class="feature_slider mob_full_w Slider">
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_1.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">ФРЕЗЕРНАЯ ОБРАБОТКА</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_2.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">ТОКАРНАЯ ОБРАБОТКА</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_3.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">ЛИСТОВАЯ ОБРАБОТКА</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_4.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_5.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">ПОКРЫТИЯ</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_6.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">МЕХАНО-СБОРОЧНЫЕ РАБОТЫ</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_7.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                    <ul class="feature_list g_col_l_3 featureSlide">
                      <li class="feature_item"><a href="category.html" class="feature_box">
                          <div class="feature_img_w"><img src="i/feature_8.jpg" class="feature_img"></div>
                          <div class="feature_description"><span class="middle_block">ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА</span></div>
                          <div class="feature_overview"><span class="middle_block">Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах</span></div></a></li>
                    </ul>
                  </div>
                </div>
                <div class="feature_slider_controls"><a href="#" class="feature_control prev_feature prevFeature"></a><a href="#" class="feature_control next_feature nextFeature"></a></div>
                <div class="feature_slider_controls text_center featureSliderControls"><a href="#" data-slide='0' class="feature_dot featureDot"></a><a href="#" data-slide='1' class="feature_dot featureDot"></a><a href="#" data-slide='2' class="feature_dot featureDot"></a><a href="#" data-slide='3' class="feature_dot featureDot"></a><a href="#" data-slide='4' class="feature_dot featureDot"></a><a href="#" data-slide='5' class="feature_dot featureDot"></a><a href="#" data-slide='6' class="feature_dot featureDot"></a><a href="#" data-slide='7' class="feature_dot featureDot"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/products.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'], feature_arr_3 = [ 'МНОГОКООРДИНАТНАЯ С ЧПУ', 'ВЫСОКОСКОРОСТНАЯ ФРЕЗЕРНО-ГРАВИРОВАЛЬНАЯ', 'ВЫСОКОТОЧНАЯ НАКЛОННЫХ И ФАСОВАННЫХ ПОВЕРХНОСТЕЙ', 'ВИДЫ ОБРАБАТЫВАЕМЫХ МАТЕРИАЛОВ'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM продукция')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder.wide_mod.full_w_mod
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.main_content
							.article_title Продукция
							.g_row
								.slider_wrapper.featureSlider
									.feature_slider.mob_full_w.Slider
										each val, index in feature_arr
											ul.feature_list.g_col_l_3.featureSlide
												li.feature_item
													a.feature_box(href='category.html')
														.feature_img_w
															img.feature_img(src='i/feature_' + (index + 1) + '.jpg')
														.feature_description
															span.middle_block!=val
														.feature_overview: span.middle_block Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах
										each val, index in feature_arr_2
											ul.feature_list.g_col_l_3.featureSlide
												li.feature_item
													a.feature_box(href='category.html')
														.feature_img_w
															img.feature_img(src='i/feature_' + (index + 5) + '.jpg')
														.feature_description
															span.middle_block!=val
														.feature_overview: span.middle_block Изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах

								.feature_slider_controls
									a.feature_control.prev_feature.prevFeature(href='#')
									a.feature_control.next_feature.nextFeature(href='#')
								.feature_slider_controls.text_center.featureSliderControls
									each val, index in feature_arr
										a.feature_dot.featureDot(href='#', data-slide=index)
									each val, index in feature_arr_2
										a.feature_dot.featureDot(href='#', data-slide=index+4)

			+footer()
