vacancies.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CTM вакансии</title><!-- saved from url=(0014)about:internet -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/main_global.css" media="all"/>
    <script src="js/modernizr.2.js"></script><!--[if IE 8]>
    <script src="js/respond.src.js"></script>
    <link rel="stylesheet" href="styles/ie8.css" media="all">
    <![endif]--> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper main_page">
      <!--.rect_1024-->
      <div class="base">
        <div class="header fixed_mod">
          <div class="section_inner">
            <div class="g_row">
              <div class="g_col_s_1 mob_only">
                <div class="f_el"><a href="#" class="btn_v1 menu_toggle menuToggle"><span class="menu_toggle_text">меню</span></a></div>
              </div>
              <div class="g_col_l_3 g_col_s_10 logo_holder"><a href="index.html" class="logo"><img src="i/logo.png"></a></div>
              <div class="g_col_l_8 search_block">
                <form action="#">
                  <div class="f_el search_field_h g_col_s_11">
                    <input placeholder="Поиск по сайту..." class="form_input form_input_v1 searchInput">
                  </div>
                  <div class="search_block_controls g_col_s_1">
                    <div class="f_el">
                      <button class="btn_v1 search_btn"></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="g_col_l_8 menu_block">
                <ul class="main_menu">
                  <li class="menu_item"><a href="about.html" class="menu_link active"><span class="link_text">О компании</span></a></li>
                  <li class="menu_item"><a href="products.html" class="menu_link"><span class="link_text">Продукция</span></a></li>
                  <li class="menu_item"><a href="#" class="menu_link"><span class="link_text">Оборудование</span></a></li>
                  <li class="menu_item"><a href="project.html" class="menu_link"><span class="link_text">Проект технопарка</span></a></li>
                  <li class="menu_item"><a href="vacancies.html" class="menu_link"><span class="link_text">Сотрудники</span></a></li>
                  <li class="menu_item"><a href="press.html" class="menu_link"><span class="link_text">Пресс-центр</span></a></li>
                  <li class="menu_item"><a href="contacts.html" class="menu_link"><span class="link_text">Контакты</span></a></li>
                </ul>
              </div>
              <div class="g_col_l_1 g_col_s_1">
                <div class="f_el"><a href="#" class="btn_v1 search_btn openSearchBtn"><span class="menu_toggle_text mob_only">поиск</span></a><a href="#" class="btn_v1 search_close_btn closeSearchBtn"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_inner clearfix">
            <div class="breadcrumbs_holder">
              <ul class="breadcrumbs">
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Главная </a></li>
                <li class="breadcrumb_item"><a href="#" class="breadcrumb_link">Родительская страница </a></li>
                <li class="breadcrumb_item"><span href="#" class="breadcrumb_link">Текущая страница </span></li>
              </ul>
            </div>
            <div class="hero_block"><img src="i/hero.jpg" class="hero_img">
              <div class="hero_text_holder">
                <div class="hero_text">
                  <div class="hero_caption">Вакансии</div>
                </div>
              </div>
            </div>
            <div class="aside_left">
              <div class="aside_menu mob_hidden">
                <ul class="sub_menu">
                  <li class="sub_menu_item"><a href="about.html" class="sub_m_link">Компания сегодня</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">История</a></li>
                  <li class="sub_menu_item"><a href="advantages.html" class="sub_m_link active">Наши преимущества</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Миссия компании</a></li>
                  <li class="sub_menu_item"><a href="partners.html" class="sub_m_link">Партнеры</a></li>
                  <li class="sub_menu_item"><a href="#" class="sub_m_link">Награды и дипломы</a></li>
                  <li class="sub_menu_item"><a href="certificates.html" class="sub_m_link">Лицензии и сертификаты</a></li>
                </ul>
              </div>
              <div class="adds_block">
                <div class="adds_caption">Не нашли подходящей вакансии?</div>
                <div class="adds_text">Отправте нам свое резюме и Мы постараемся найти интересующую вакансию</div>
                <div class="adds_controls text_center">
                  <div class="f_el"><a href="#" id="send_resume" class="btn_v4 aside_btn gray_btn"><span class="middle_block">Отправить резюме</span></a></div>
                </div>
              </div>
              <div class="adds_block mob_hidden">
                <div class="adds_caption">Подписка</div>
                <div class="adds_text">Подпишитесь на обновления вакансий,  чтоб стать одним из первых кандидатов на интересующую Вас вакансию</div>
                <div class="adds_controls text_center">
                  <form action="#">
                    <div class="f_el">
                      <input placeholder="Электронная почта" class="form_input form_input_v2">
                    </div>
                    <div class="f_el">
                      <button href="#" class="btn_v4 aside_btn gray_btn"><span class="middle_block">Подписаться</span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="main_content">
              <ul class="vacancies_list">
                <li class="vacancy_item">
                  <div class="vacancy_block">
                    <div class="vacancy_caption"> <span class="vacancy_name">Электрогазосварщик </span><span class="vacancy_price"> 22 000 - 30 000 руб.</span></div>
                    <div class="vacancy_description">
                      <p> <b>Требования:  </b>Опыт работы по специальности, навыки сварки и пайки тонколистовых металлов СО и аргон. <br> Работа по 5-ому разряду.</p>
                      <p> <b>Место работы:</b>Старки (авт. 23, компенсация проезда). <br> График работы сменный, неделя в 1ю смену, неделю во 2ю.</p>
                      <p><b>1 смена: </b>7:00 - 15:30 <br><b>2 смена: </b>14:30 - 23:00</p>
                      <p>Оформление ТК РФ, соц.пакет, <br><a href="#" class="vacancy_link">Оставить заявку на собеседование</a></p>
                    </div>
                  </div>
                </li>
                <li class="vacancy_item">
                  <div class="vacancy_block">
                    <div class="vacancy_caption"> <span class="vacancy_name">Электрогазосварщик </span><span class="vacancy_price"> 22 000 - 30 000 руб.</span></div>
                    <div class="vacancy_description">
                      <p> <b>Требования:  </b>Опыт работы по специальности, навыки сварки и пайки тонколистовых металлов СО и аргон. <br> Работа по 5-ому разряду.</p>
                      <p> <b>Место работы:</b>Старки (авт. 23, компенсация проезда). <br> График работы сменный, неделя в 1ю смену, неделю во 2ю.</p>
                      <p><b>1 смена: </b>7:00 - 15:30 <br><b>2 смена: </b>14:30 - 23:00</p>
                      <p>Оформление ТК РФ, соц.пакет, <br><a href="#" class="vacancy_link">Оставить заявку на собеседование</a></p>
                    </div>
                  </div>
                </li>
                <li class="vacancy_item">
                  <div class="vacancy_block">
                    <div class="vacancy_caption"> <span class="vacancy_name">Электрогазосварщик </span><span class="vacancy_price"> 22 000 - 30 000 руб.</span></div>
                    <div class="vacancy_description">
                      <p> <b>Требования:  </b>Опыт работы по специальности, навыки сварки и пайки тонколистовых металлов СО и аргон. <br> Работа по 5-ому разряду.</p>
                      <p> <b>Место работы:</b>Старки (авт. 23, компенсация проезда). <br> График работы сменный, неделя в 1ю смену, неделю во 2ю.</p>
                      <p><b>1 смена: </b>7:00 - 15:30 <br><b>2 смена: </b>14:30 - 23:00</p>
                      <p>Оформление ТК РФ, соц.пакет, <br><a href="#" class="vacancy_link">Оставить заявку на собеседование</a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Модальное окно -->
      <div class="popup">
          <div class="bg"></div>
          <div class="section_popup" id="response_form">
              <div class="form_cell_v1 form_holder">
                  <div class="close_popup">×</div>
                  <form action="#">
                      <div class="form_caption">Форма отправки заявки</div>
                      <div class="form_tip">Поля, отмеченные *, обязательны для заполнения. <span class="mob_hidden"><br></span>Пожалуйста, заполните форму, чтобы отправить сообщение.</div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_name" class="form_label form_label_v1">Ваше имя*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_name" class="form_input form_input_v3">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_email" class="form_label form_label_v1">Номер телефона*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_email" class="form_input form_input_v3">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_phone" class="form_label form_label_v1">E-mail*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_phone" class="form_input form_input_v3">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_comment" class="form_label form_label_v1">Комментарий*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <textarea id="callback_comment" class="form_input form_input_v3"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12 mob_hidden">
                                  <div class="f_el">&nbsp;</div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12 mob_indent_10">
                                  <div class="f_el">
                                      <label class="check_emul check_v1">
                                          <input type="checkbox" class="input_hidden"><span class="check_text">Я согласен на обработку моих персональных данных</span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12 mob_hidden">
                                  <div class="f_el">&nbsp;</div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12 mob_indent_10">
                                  <div class="f_el">
                                      <button class="btn_v4 yellow_btn callback_btn">Отправить отклик</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="section_popup" id="resume_form">
              <div class="form_cell_v1 form_holder">
                  <div class="close_popup">×</div>
                  <form action="#">
                      <div class="form_caption">Форма отправки резюме</div>
                      <div class="form_tip">Поля, отмеченные *, обязательны для заполнения. <span class="mob_hidden"><br></span>Пожалуйста, заполните форму, чтобы отправить сообщение.</div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_name" class="form_label form_label_v1">Ваше имя*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_name" class="form_input form_input_v3">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_email" class="form_label form_label_v1">Номер телефона*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_email" class="form_input form_input_v3">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_phone" class="form_label form_label_v1">E-mail*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_phone" class="form_input form_input_v3">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_comment" class="form_label form_label_v1">Комментарий*</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <textarea id="callback_comment" class="form_input form_input_v3"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12">
                                  <div class="f_el">
                                      <label for="callback_file" class="form_label form_label_v1">Файл</label>
                                  </div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12">
                                  <div class="f_el">
                                      <input id="callback_file" type="file" class="form_input form_input_v3 input_hidden">
                                      <div class="form_input form_input_v3">
                                          <label for="callback_file" class="btn_v5 file_upload_btn gray_btn">Загрузить</label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12 mob_hidden">
                                  <div class="f_el">&nbsp;</div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12 mob_indent_10">
                                  <div class="f_el">
                                      <label class="check_emul check_v1">
                                          <input type="checkbox" class="input_hidden"><span class="check_text">Я согласен на обработку моих персональных данных</span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form_cell">
                          <div class="g_row">
                              <div class="g_col_l_4 g_col_s_12 mob_hidden">
                                  <div class="f_el">&nbsp;</div>
                              </div>
                              <div class="g_col_l_8 g_col_s_12 mob_indent_10">
                                  <div class="f_el">
                                      <button class="btn_v4 yellow_btn callback_btn">Отправить резюме</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div class="footer">
        <div class="section_inner">
          <div class="g_row">
            <div class="g_col_l_5 g_col_s_12">
              <ul class="footer_menu">
                <li class="f_menu_item"><a href="index.html" class="f_menu_link">Главная </a></li>
                <li class="f_menu_item"><a href="about.html" class="f_menu_link">О Компании</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Продукция</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Оборудование</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Проект технопарка</a></li>
                <li class="f_menu_item"><a href="press.html" class="f_menu_link">Пресс-центр</a></li>
                <li class="f_menu_item"><a href="#" class="f_menu_link">Персонал</a></li>
                <li class="f_menu_item"><a href="contacts.html" class="f_menu_link">Контакты</a></li>
              </ul>
              <div class="footer_controls"><a href="#" class="btn_v2 yellow_btn footer_btn">Скачать каталог</a><a href="#" class="btn_v2 yellow_btn footer_btn">Форма заказа</a></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_1 g_col_s_3">
              <div class="dev_info"></div>
            </div>
            <div class="g_col_l_5 g_col_s_12">
              <div class="footer_contacts">
                <p>+7 (3412) 45 07 30</p>
                <p>stm1@stm1.ru</p>
                <p>426050 г.Ижевск, ул. 9-е Января, 261</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/vacancies.jade
- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM вакансии')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 
	
						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption Вакансии

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

							.adds_block
								.adds_caption Не нашли подходящей вакансии?
								.adds_text Отправте нам свое резюме и Мы постараемся найти интересующую вакансию
								.adds_controls.text_center
									.f_el: a.btn_v4.aside_btn.gray_btn(href='#'): span.middle_block Отправить резюме
							.adds_block.mob_hidden
								.adds_caption Подписка
								.adds_text Подпишитесь на обновления вакансий,  чтоб стать одним из первых кандидатов на интересующую Вас вакансию
								.adds_controls.text_center
									form(action='#')
										.f_el: input.form_input.form_input_v2(placeholder='Электронная почта')
										.f_el: button.btn_v4.aside_btn.gray_btn(href='#'): span.middle_block Отправить резюме
									
						.main_content
							ul.vacancies_list
								+loop_while(3)
									li.vacancy_item
										.vacancy_block
											.vacancy_caption 
												span.vacancy_name Электрогазосварщик 
												span.vacancy_price  22 000 - 30 000 руб.
											.vacancy_description
												p 
													b Требования:  
													| Опыт работы по специальности, навыки сварки и пайки тонколистовых металлов СО и аргон. <br> Работа по 5-ому разряду.
												p 
													b Место работы:
													| Старки (авт. 23, компенсация проезда). <br> График работы сменный, неделя в 1ю смену, неделю во 2ю.
												p
													b 1 смена: 
													| 7:00 - 15:30 <br>
													b 2 смена: 
													| 14:30 - 23:00
												p Оформление ТК РФ, соц.пакет, <br>
													a.vacancy_link(href='#') Оставить заявку на собеседование

			+footer()
